* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f4fb;
}

#book-now-cta button {
  height: 125px;
  margin-left: 30px;
  margin-right: 0px;
  padding: 9px 25px;
  background-color: #fcaf1e;
  color: #211c5b;
  border: none;
  cursor: pointer;
}

#card-buy-cta {
  height: 80px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #fcaf1e;
  color: #211c5b;
  border: none;
  cursor: pointer;
}

.nav-links li,
a,
button {
  font-family: "Lustria", serif;
  font-weight: 800;
  font-size: 26px;
  color: #fff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #211c5b;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  margin-left: 2.5%;
  height: auto;
  width: auto;
  max-height: 125px;
  max-width: 250px;
  line-height: 125px;
  vertical-align: middle;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #9ba2ff;
}

.hero {
  position: relative;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: left;
  align-items: center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/home_hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}

.hero-content {
  position: relative;
  font-family: "Rammetto One", cursive;
  color: white;
  text-align: left;
  margin: 0.625rem;
}
.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}
.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}

.section-title {
  font-family: "Lustria", serif;
  font-weight: 800;
  font-size: 100%;
  font-size: 32px;
  line-height: 2;
  color: #211c5b;
  padding: 10px 0px 10px 0px;
}

.card-title {
  font-family: "Lustria", serif;
  font-weight: 400;
  font-size: 100%;
  font-size: 22px;
  line-height: 1.5;
  color: #211c5b;
}

.main-content-container {
  margin: 2rem auto;
  max-width: calc(100% - 80px);
}

.main-content-container section {
  margin-top: 30px;
  margin-bottom: 70px;
}

.home-explore-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
}

.home-tickets-container {
  margin: 20px 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 18rem;
}

.article-image {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.article-image img {
  max-width: 100%;
  height: 250px;
  border-radius: 20px 20px 0 0;
}

.article-card {
  background: white;
  border-radius: 20px;
  transition: 0.3s;
}

.article-card:hover {
  box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
  cursor: pointer;
}

.article-content {
  padding: 2rem;
}

.article-content .card-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #211c5b;
  display: block;
  text-decoration: none;
}

.article-content .card-type {
  font-size: 2rem;
  font-weight: 800;
  color: #211c5b;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px 0px;
}

.article-content .card-subtitle {
  margin: 1rem 0;
  color: #9ba2ff;
}

.article-content .card-price {
  font-size: 2.5rem;
  font-weight: 800;
  color: #207507;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 20px 0px;
}

.article-card .card-excerpt {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #706c8f;
  margin: 0;
}

/* TO-DO: UPDATE THIS A BIT */
/* https://codepen.io/jeremycaris/pen/zYOorR */
.home-testimonial-section {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #1a1a1a;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  text-align: center;
  background: #757f9a;
  background: -webkit-linear-gradient(to left, #d7dde8, #757f9a);
  background: linear-gradient(to left, #d7dde8, #757f9a);
}

.home-testimonial-container {
  max-width: 600px;
  margin: 50px auto;
}

.testimonial blockquote {
  margin: 10px 10px 0;
  background: #efefef;
  padding: 20px 60px;
  position: relative;
  border: none;
  border-radius: 8px;
  font-style: italic;
}

.testimonial blockquote:before,
.testimonial blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 80px;
  line-height: 1;
  color: #757f9a;
  font-style: normal;
}

.testimonial blockquote:before {
  top: 0;
  left: 10px;
}

.testimonial blockquote:after {
  content: "\201D";
  right: 10px;
  bottom: -0.5em;
}

.testimonial div {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #efefef;
  margin: 0 0 0 60px;
}

.testimonial p {
  margin: 8px 0 0 20px;
  text-align: left;
  color: #fff;
}

.testimonial .stars {
  font-size: 25px;
}

/* ----- FOOTER ----- */
footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px 50px 15px 50px;
  color: #fff;
  background-color: #211c5b;
}

.footer > * {
  flex: 1 100%;
}

.footer-left {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer-left img {
  width: 50%;
  padding-left: 20%;
}

.footer h3 {
  font-weight: 600;
  font-size: 26px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
  font-size: 16px;
}

.footer-right {
  display: flex;
  flex-flow: row wrap;
}

.footer-right > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.footer-column a {
  color: #9ba2ff;
}

.footer-legal {
  text-align: center;
  font-size: 16px;
  color: #757f9a;
}

.footer-left p {
  padding-right: 20%;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #757f9a;
  text-align: justify;
  font-size: 16px;
}

.social-media a {
  background: #9ba2ff;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 5px;
}

.social-media a i {
  color: #211c5b;
  padding: 10px 12px;
  font-size: 20px;
}

@media screen and (min-width: 600px) {
  .footer-right > * {
    flex: 1;
  }
  .footer-left {
    flex: 1 0px;
  }
  .footer-right {
    flex: 2 0px;
  }
}
