* {
  box-sizing: border-box;
  font-family: Lato, Helvetica, sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}
header {
  background-color: #211c5b;
  height: 5rem;
}

header * {
  margin: 0;
}

.openingHours {
  float: left;
  font-size: 1.2rem;
  color: white;
  margin-right: 6rem;
}

.openingHours p {
  line-height: 1.5rem;
  padding: 1rem;
}

header img {
  float: left;
  width: 100px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
}

header h1 {
  float: left;
  margin-top: 2rem;
  margin-left: 0.2rem;
  color: whitesmoke;
}

header a {
  text-decoration: none;
  background-color: #d10017;
  color: white;
  padding: 1.8rem;
  float: right;
  font-size: 1.2rem;
}

nav {
  clear: both;
  margin-top: 2.5rem;
}

nav li {
  display: inline-block;
  width: 33%;
}

li:last-child a {
  margin-left: 4rem;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.dashboard {
  width: 98%;
  margin-left: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 0;
  height: 10rem;
  background-color: #11aad4;
  color: #990012;
  padding-top: 2rem;
}

.container {
  height: 50%;
  width: 150%;
  overflow: hidden;
  /* background-color: #990012; */
  position: relative;
}

.dashboard h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: left;
  animation: scroll-text 30s linear;
  animation-iteration-count: infinite;
}

@keyframes scroll-text {
  0% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.dashboard span {
  margin-left: 25rem;
}

.homepageContents {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-left: 0.8rem;
}

.contentThumbnail {
  width: 47%;
  margin-right: 2rem;
  margin-bottom: 3rem;
}

.homepageContents div:last-child {
  width: 98%;
}

.contentThumbnail img {
  width: 100%;
  height: 45rem;
}

.contentThumbnail p {
  font-size: 1.2rem;
}

.contentThumbnail a {
  text-decoration: none;
  background-color: #11aad4;
  color: white;
  padding: 0.8rem 3rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.contentThumbnail a:hover {
  background-color: #990012;
}

#contactSection {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: #211c5b;
  color: white;
  font-size: 1.2rem;
}

#contactSection * {
  padding-left: 0.5rem;
}

#contactSection div:last-child a {
  display: block;
  color: white;
  padding: 1rem;
  margin-bottom: 0.8rem;
  margin-right: 0.5rem;
  font-size: 1.3rem;
}

#contactSection div:last-child a:hover {
  color: red;
}

/* style for google map  */
.mapouter {
  position: relative;
  text-align: right;
  /* height: 1000px; */
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  /* height: 1000px; */
  width: 100%;
}

.direction {
  font-size: 1.2rem;
  padding: 2rem;
}
