* {
  box-sizing: border-box;
  font-family: Lato,Helvetica,sans-serif;
}

body {
  margin: 0;
}
header {
  background-color: #211c5b;
  height: 5rem;
 
}

header * {
  margin: 0;
}


.openingHours {
  float: left;
  font-size: 1.2rem;
  color: white;
  margin-right: 6rem;
}

.openingHours p {
  line-height: 1.5rem;
  padding: 1rem;
}


 header img {
  float: left;
  width: 100px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
  
 }

 header h1 {
  float: left;
  margin-top: 2rem;
  margin-left: 0.2rem;
  color: whitesmoke;
}

 header a {
  text-decoration: none;
  background-color: #d10017;
  color: white;
  padding: 1.8rem;
  float: right;
  font-size: 1.2rem;
 }

nav {
  clear: both;
  margin-top: 3rem;
}

nav li {
  display: inline-block;
  width: 33%;
}

li:last-child a {
  margin-left: 4rem;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.homepageContents {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-left: 0.8rem;
}

.contentThumbnail {
  width: 47%;
  margin-right: 2rem;
  margin-bottom: 3rem;
}

.homepageContents div:last-child {
  width: 98%;
}

.contentThumbnail img {
  width: 100%;
  height: 37rem;
}

.contentThumbnail p {
 font-size: 1.2rem;
}

.contentThumbnail a {
  text-decoration: none;
  background-color: #d10017;
  color: white;
  padding: 0.8rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.contentThumbnail a:hover {
  background-color: #990012;
}

/* style for google map  */
.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

