* {
  /* https://www.youtube.com/watch?v=PwWHL3RyQgk */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#book-now-cta button {
  height: 125px;
  margin-left: 30px;
  margin-right: 0px;
  padding: 9px 25px;
  background-color: #fcaf1e;
  color: #211c5b;
  border: none;
  cursor: pointer;
}

li,
a,
button {
  font-family: "Lustria", serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #211c5b;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  margin-left: 2.5%;
  height: auto;
  width: auto;
  max-height: 125px;
  max-width: 250px;
  line-height: 125px;
  vertical-align: middle;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #9ba2ff;
}

.hero {
  position: relative;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: left;
  align-items: center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/home_hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}

.hero-content {
  position: relative;
  font-family: "Rammetto One", cursive;
  color: white;
  text-align: left;
  margin: 0.625rem;
}
.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}
.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}
